* {
  padding: 0;
  margin: 0;
  outline: none;
}

.section-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section1-color {
  background-color: #fbf7f2;
}

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section-top-content {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1024px;
  padding-left: 50px;
}

.section-main-content {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: row;
  justify-content: center;
  width: 1024px;
}

.section-image-content {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

.section-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-shrink: 0;
  padding-left: 100px;
  padding-right: 100px;
}

.section-top-image {
  width: 680px;
}

.section-image {
  width: 450px;
}

.section-top-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 42px;
  line-height: 135%;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 35px;
  line-height: 135%;
}

.section-text {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 13px;
  color: #212529;
  line-height: 150%;
}

.section-button-content {
  display: flex;
  justify-content: row;
}

.section2-button1 {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 26px;
  padding-right: 26px;
  margin-right: 20px;
  background-color: #f1f3f5;
  color: #212529;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
}

.section2-button2 {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  padding-left: 26px;
  padding-right: 26px;
  margin-right: 30px;
  background-color: #f1f3f5;
  color: #212529;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
}

#section3-color {
  background-color: #e6f3e6;
}

.section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section3-table {
  display: flex;
  flex-direction: row;
}

.section3-table-icon {
  margin-bottom: 10px;
}

.section3-table-comp {
  width: 150px;
}

.section3-table-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}

.section3-table-text {
  font-size: 12px;
}

.section4-button {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  margin-right: 60px;
  background-color: #f1f3f5;
  color: #212529;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
}

.header {
  background-color: white;
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.search {
  display: flex;
  margin-right: 10%;
  font-size: 16px;
}

.logo {
  width: 100px;
  height: 28px;
  margin-right: 30px;
}

.header-navigator {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  font-weight: bold;
  padding-left: 9.5%;
  flex-shrink: 0;
}

.search {
  flex-shrink: 0;
}

.main-page {
  text-decoration: none;
  color: #ff6f0f;
  font-size: 18px;
  margin-right: 30px;
  padding: 0 40 0 0;
}

.nearby-stores,
.jobs,
.realty,
.car {
  text-decoration: none;
  color: #4d5159;
  font-size: 18px;
  margin-right: 30px;
}

.search-input {
  border: none;
  background-color: #f2f3f6;
  height: 40px;
  width: 288px;
  border-radius: 5px;
  padding-left: 9px;
  font-size: 16px;
}

.chat-button {
  border: 2px solid #f2f3f6;
  background-color: white;
  color: #212124;
  width: 90px;
  height: 40px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
}

body {
  margin: 0;
}
.section5-main-content {
  padding: 100px;
}
.cards-content {
  padding: 0 140px;
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0 auto;
}

.section5-topcenter-text {
  font-size: 600px;
  line-height: 1.35;
}

.section5 {
  justify-content: center;
  background-color: #f8f9fa;
  width: 100%;
}

.cards-content {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section5-topcenter-text {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.cardimage-style {
  width: 200px;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.card-title {
  line-height: 25px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-cost {
  line-height: 25px;
  font-weight: bold;
}
.count-text {
  line-height: 25px;
  font-size: 13px;
  opacity: 0.28;
}
.card-location {
  line-height: 25px;
  font-size: 14px;
}
.etc {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  font-weight: bold;
}
